<%= simple_form_for([@post, @post.comments.build]) do |f| %>

  <div class="field">
    <div class="control">
      <%= f.input :name, input_html: { class: 'input' }, wrapper: false, label: 'Your username please' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.input :comment, input_html: { class: 'textarea' }, placeholder: "add a comment", wrapper: false, label: false  %>
    </div>
  </div>
  <%= f.button :submit, 'Respond', class: "button is-primary" %>
  <% end %>
